.container{
    background: #1A1C19;
    max-width: 100%;
    height: 103vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
}
.nav{
    position: relative;
    display: flex;
    height: 63px;
    width: 1545px;
    left: 19px;
    top: 18px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid #B1A592;
    justify-content: space-between;
    align-content: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;

}
.nav-left{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.nl-1{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 6px;
    top: 5.5px;
    text-decoration: none;
    background: rgba(155, 134, 79, 0.2);
    border-radius: 50px;
}
.nav-left div a{
    text-decoration: none;
    color: white;
}
.nl-1 #a-1{
    position: relative;
    text-align: center;
    top: 15px;
    left: 140px;
}
.nl-2{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 363px;
    top: 5.5px;
    border: 1px solid white;
    border-radius: 50px;
    transition: .4s;
}
.nl-2 #a-2{
    position: relative;
    text-align: center;
    top: 15px;
    left: 55px;
}
.nl-3{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 50px;
    left: 550px;
    top: 5.5px;
    border: 1px solid white;
    border-radius: 50px;
    transition: .4s;
}
#a-3{
    position: relative;
    top: 15px;
    left: 60px;
}
.nl-4{
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 755px;
    top: 5.5px;
    border-radius: 50px;
    border: 1px solid white;
    transition: .4s;
}
#a-4{
    position: relative;
    top: 15px;
    left: 50px;
}
.nav-right{
    box-sizing: border-box;
    position: absolute;
    width: 181px;
    height: 50px;
    left: 1357px;
    top: 5.5px;
    border: 1px solid white;
    border-radius: 50px;
    transition: .4s;
}
.nav-right div{
    position: relative;
    color: white;
    top: 15px;
    left: 50px;
}
.nl-2:hover,.nl-3:hover,.nl-4:hover,.nav-right:hover{
    background-color: white;
}
.nl-4:hover a,.nl-2:hover a,.nl-3:hover a,.nav-right:hover div{
    color: black;
}
.main{
    display: flex;
}
.left{
    display: flex;
    background: #e0d6c2;
    border-radius: 30px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
    width: calc(33% - 10px);
    max-width: calc(33% - 10px);
    position: relative;
    left: 19px;
    top: 40px;
}
.left-1{
    display: flex;
    flex-direction: column;
}
.para-1{
    box-sizing: border-box;
    position: relative;
    width: 180px;
    height: 34px;
    left: 40px;
    top: 30px;  
    border: 1px solid #323025;
    border-radius: 50px;
}
.p-1{
    position: relative;
    text-align: center;
    bottom: 6px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.left-1 h2{
    position: relative;
    width: 271px;
    height: 29px;
    left: 42px;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #333333;
}
.left-1 img{
    position: relative;
    height: 550px;
    width: 480px;
    left: 14px;
    top: 50px;
    border-radius: 20px;
    padding-bottom: 60px;
}
.line{
    position: relative;
    top: 10px;
    width: 505px;
    border: .1px solid #333333;
}
.left-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}
.left-2 .p-2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #333333;
}
.left-1:hover img{
    border-radius: 0;
    flex: none;
    transform: scale(1.1);
    height: 100%;
    margin: 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px;
    transition-duration: 1000ms;
    width: 100%;
    max-width: 100%;
}
.right-top{
    position: absolute;
    width: 1020px;
    height: 385px;
    left: 550px;
    top: 111px;
    background: #8E886D;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.content-right-up{
    display: flex;
    flex-direction: row;
}
.content-1{
    display: flex;
    flex-direction: column;
}
.content-1 .pr-1{
    box-sizing: border-box;
    position: relative;
    width: 207px;
    height: 34px;
    left: 40px;
    text-align: center;
    top: 10px;
    border: 1px solid #323025;
    border-radius: 50px;
    padding-top: 9px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
}
.content-1 .right-h2{
    position: relative;
    width: 271px;
    height: 29px;
    left: 43px;
    top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #333333;
}
.content-1 .pr-2{
    position: relative;
    width: 382px;
    height: 72px;
    left: 43px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
}
.img-1 .image img{
    position: relative;
    width: 550px;
    height: 260px;
    left: 40px;
    top: 20px;
    border-radius: 20px;
    padding-bottom: 30px;
}
.right-up-hr{
    position: relative;
    width: 1017px;
    height: 0px;
    left: 0px;
    top: 10px;
    border: .2px solid #333333;
}
.content-right-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 30px;
}
.content-right-down .right-up{
    position: relative;
    left: 30px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}
.content-right-down .arrow{
    position: relative;
    right: 20px;
}
.right-bottom{
    display: flex;
    flex-direction: row;
    width: 1020px;
    position: relative;
    top: 450px;
    left: 35px;
}
.right-bottom-first{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 425px;
}
.bottom-1{
    display: flex;
    background: #976c54;
    border-radius: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 500px;
    max-width: calc(100% - 5px);
}
.bottom-1 .lady-img img{
    position: relative;
    left: 25px;
    top: 15px;
    width: 450px;
    height: 150px;
}
.bottom-1 .portrait{
    position: relative;
    left: 50px;
    top: -10px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    text-decoration-line: underline;
    color: #333333;
}
.para-bottom-1 .para-bottom{
    position: relative;
    left: 50px;
    top: -20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}
.bottom-hr-1{
    position: relative;
    width: 493px;
    left: -2px;
    bottom: 75px;
    border: .2px solid #333333;
}
.bottom-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    position: relative;
    bottom: 64px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 29px; */
    color: #333333;
}

.bottom-2 .arrow{
    position: relative;
    bottom: 64px;
    right: 25px;
}
.right-bottom-second{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 500px;
    height: 390px;
    left: 20px;
    background: #B1A48E;
    border-radius: 30px;
}
.right-edge{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.right-edge .last-para-1{
    box-sizing: border-box;
    position: relative;
    width: 150px;
    height: 35px;
    top: 25px;
    left: 35px;
    border: 1px solid #323025;
    border-radius: 50px;
}
.last-para-1 .last-p-1{
    text-align: center;
    position: relative;
    bottom: 8px;
    line-height: 20px;
    font-weight: 500px;
    font-size: 14px;
}
.right-edge .img{
    position: relative;
    top: -12px;
    left: 350px;
}
.right-edge .img img{
    width: 90px;
}
.right-edge h1{
    position: relative;
    left: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    top:-30px;
    /* line-height: 40px; */
    text-decoration-line: underline;
    color: #333333;
}
.last-para-2{
    position: relative;
    left: 35px;
    top: -60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.right-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-last .last{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #333333;
    position: relative;
    top: 3px;
    left: 20px;
}
.right-last .last-arrow{
    position: relative;
    right: 20px;
    top: 10px;
}
.bottom-last-hr{
    position: relative;
    width: 500px;
    border: 0.3px solid #333333;
    left: 0px;
    top: 0px;

border: 1px solid #333333;
}
/* @media screen and (max-width: 540px){
    .nav{
        width: 80%;
        height: fit-content;
    }
} */
@media screen and (max-width: 540px){
.nav{
    width: calc(30% - 30px);
    max-width: calc(30% - 30px);
    height: 100%;
}
.nl-3,.nl-2,.nl-4,.nav-right{
    display: none;
    background-color: #1A1C19;
}
}
@media screen and (max-width: 768x){
    .nav{
        width: calc(30% - 30px);
        max-width: calc(30% - 30px);
        height: 100%;
    }
    .nl-3,.nl-2,.nl-4,.nav-right{
        display: none;
        background-color: #1A1C19;
    }
}
@media screen and (max-width: 540px){
.nav{
    width: calc(30% - 30px);
    max-width: calc(30% - 30px);
    height: 100%;
}
.nl-3,.nl-2,.nl-4,.nav-right{
    display: none;
    background-color: #1A1C19;
   }
}
@media screen and (max-width: 1100px){
    .nav{
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
        height: 100%;
    }
}